*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: principal;
    src: url(/fuente/Mont-ExtraLightDEMO.otf);
}
@font-face {
    font-family: principalBold;
    src: url(/fuente/Mont-HeavyDEMO.otf);
}
:root{
    --mainColor: white;
    --backgroundColor: #242423;
    --backgroundColor2: #333533;
    --secundaryColor: #f5cb5c;
    --tertiaryColor: #cfdbd5;
    --bordePrueba: 2px solid red;
    --paddingGlobal: 0px 20%;
    --margenTop: 20px;
}



body{
    background-color: var(--backgroundColor);
}

header{
    margin-top: var(--margenTop);
    display: flex;
    justify-content: space-between;;
    padding: var(--paddingGlobal);
    align-items: center;

}

.container__logo{
    color: var(--mainColor);
    font-family: principalBold;
}

.container__rrss{
    display: flex;
    list-style: none;
}


.rrss__icon{
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}

.rrss__icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: contrast(0);
}

.container__hero{
    margin-top: var(--margenTop);
    padding: var(--paddingGlobal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container__jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__jumbotron h1{
    font-size: 4.5em;
    font-family: principalBold;
    color: var(--mainColor);
    text-align: left;
}

.container__jumbotron p{
    font-size: 2em;
    font-family: principalBold;
    color: var(--secundaryColor);
    text-align: center;
}

.container__avatar{
    width: 900px;
    top: 0;
}

.container__avatar img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container__follow{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container__follow p{
    font-family: principal;
    font-size: 2em;
    border: 1px solid;
    padding: 10px 15px;
    margin: 0px 20px;
    border-radius: 1px;
    transition: all 500ms;
}

.container__follow p:hover{
    color: white;
    background-color: var(--secundaryColor);
    font-weight: 900;
    scale: 110%;
}

.separator{
    border: 1px solid white;
    margin: var(--paddingGlobal);
    margin-top: 100px;
}

.container__repositories{
    padding: var(--paddingGlobal); 
    margin-top:var(--margenTop); 
    margin-bottom: var(--margenTop);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__repositories h2{
    font-family: principalBold;
    font-size: 8em;
    color: white;
}
.repos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: var(--paddingGlobal);
    justify-content: center;
}
.repo{
    width:350px;
    height: 350px;
    overflow: hidden;
    position: relative;
    background-color: var(--secundaryColor);
}

.repo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 400ms;
    z-index: 1;
}

.repo:hover img{
    scale: 120%;
    filter:grayscale(100)
}
.repo:hover .repoURL{
    opacity: 100;
}
.repoCodeURL{
    position: absolute;
    z-index: 99;
    color: white;
    top: 20%;
    left: 24%;
    font-size: 3em;
    text-decoration: none;
    font-family: principalBold;
    border: 1px solid white;
    background-color: rgba(112, 7, 7, 0.728);
    border-radius: 15px;
    padding: 1px 20px;
    opacity: 0;
    transition: 500ms;
}

.repoPagesURL{
    position: absolute;
    z-index: 99;
    color: white;
    top: 60%;
    left: 24%;
    font-size: 3em;
    text-decoration: none;
    font-family: principalBold;
    border: 1px solid white;
    background-color: rgba(7, 112, 16, 0.728);
    border-radius: 15px;
    padding: 1px 20px;
    opacity: 0;
    transition: 500ms;
}